.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.backLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1px 4px;
  margin-bottom: 6px;
  text-decoration: none;
  color: #767676;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  /* background-color: #ffffff; */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  /* width: auto; */
  align-self: flex-start;
  font-size: 14px;
}

.backLink:hover {
  background-color: #007bff;
  color: #ffffff;
}

.poster {
  max-width: 300px;
  margin-bottom: 1rem;
}

.additionalInfo {
  /* margin-top: 1rem; */
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
}

.link {
  /* margin-right: 1rem; */
  text-decoration: none;
  color: #007bff;
}

.isActive {
  color: #004a9a;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: #004a9a;
  text-decoration-thickness: 2px; /* This makes the underline thicker */
}

.containerMovie {
  display: flex;
  flex-direction: row;
}

.containerImg {
  display: flex;
}

.containerInfo {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}
.containerInfo ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.loading {
  display: flex;
  padding: 16px;
}

.additionalInfoLinks {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
}
