.nav {
  display: flex;
  gap: 24px;
  padding: 1rem 2rem;
  background-color: #f0f0f0;
}

.link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: #c0255b;
  text-decoration-thickness: 2px; /* This makes the underline thicker */
}

.isActive {
  color: #c0255b;
}
