.nav {
  display: flex;
  gap: 24px;
  padding: 1rem;
  background-color: #f0f0f0;
}

.link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* .link:hover {
  color: #007bff;
} */

.isActive {
  color: #007bff;
}
