.container {
  padding: 1rem;
}

.form {
  display: flex;
  margin-bottom: 1rem;
  width: 600px;
}

.input {
  flex-grow: 1;
  padding: 0.5rem;
  font-size: 1rem;
  margin-right: 2px;
}

.input:focus {
  outline: none;
  border: 2px solid #007bff;
}
.input:hover {
  border: 2px solid #007bff;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #cacaca;
  border: 1px solid #595959;
  border-radius: 4px;
  color: #000000;
  cursor: pointer;
}

.button:hover {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}
