.list {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  padding: 12px 24px;
}

/* .item {

} */

.link {
  text-decoration: underline;
  color: blue;
}

.link:hover {
  color: #007bff;
}
